.btn-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-primary {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: none;
}

.community-btns{
    display: flex;
    justify-content: center;
    align-items: center;
}
.community-btns button{
    margin: 0px 3px;
    
}


.community-free-title,
.community-free-search,
.community-free-list{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


.community-free-title h3{
    font-size: 35px;
    color: #333333;
    font-weight: 600;
 
}

.community-free-search{
    padding: 30px 0;
    background-color: rgba(0, 0, 0, 0.2);

}


.community-search-wrap input{
    width: 450px;
    height: 40px;
}

.community-free-table  {
    font-size: 20px;
    width: 1600px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.community-free-table th{
    text-align: center;
}

.btn-search select {
    height: 40px;
    width: 100px;
}


.community-free-table a{
    font-size: 20px;
}

.community-free-table tbody{
    position: relative;
    top:3px;
    left:74px;
}
tbody a{
    position: relative;
    left:-70px;

  
}

.community-info td{
    position: relative;
    left:30px;


}
.community-info td:first-child{
    position: relative;
    left:-25px;


}

