
@media screen and (max-width:1800px){
    #muscle-map{
        display: none;
    }
}
.btn-groups{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 30px;
    margin-right: 20px;
}

.border-bottom{
    border-bottom: 5px solid rgba(0, 0, 0, 1);
}

.button{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    width: 250px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.dropdown-items {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}



@keyframes scaleUp {
    0%{
        transform: none;
    }
    50%{
        transform:  scale(1.3);
    }
    100%{
        transform: none;
    }
}   
.scaleup:hover{
    animation:  scaleUp 1s linear infinite ;
}


.whole-body{
    right: 150px;
    position: relative;

} 

.front-body{
    position: absolute;
    top: 1px;
}





#malefigures{
    display: block;
}
#traps-a{
    position: absolute;
    top: 452px;
    left: 415px;
}
#traps-b{
    position: absolute;
    top: 452px;
    left: 575px;
}

#shoulders-a{
    position:absolute;
    top: 490px;
    left: 318px;
}

#shoulders-b{
    position:absolute;
    top: 490px;
    left: 600px;
}

#pecs{
    position:absolute;
    top: 497px;
    left: 360px;
}

#biceps-a{
    position:absolute;
    top: 590px;
    left: 275px;
}
#biceps-b{
    position:absolute;
    top: 590px;
    left: 671px;
}
#forearm-a{
    position:absolute;
    top: 673px;
    left: 175px;
}
#forearm-b{
    position:absolute;
    top: 673px;
    left: 735px;
}
#obliques{
    position:absolute;
    top: 626px;
    left: 462px;
}
#quads-a{
    position:absolute;
    top: 850px;
    left: 378px;
}
#quads-b{
    position:absolute;
    top: 850px;
    left: 563px;
}
#calves-a{
    position:absolute;
    top: 1255px;
    left: 370px;
}
#calves-b{
    position:absolute;
    top: 1255px;
    left: 597px;
}
#obliques-a{
    position:absolute;
    top:600px;
   left:382px
}
#obliques-b{
    position:absolute;
    top:600px;
   left:590px
}


#back-traps-a{
    position:absolute;
    top: 458px;
    right: 387px;
}
#back-traps-b{
    position:absolute;
    top: 510px;
    right: 425px;
}
#back-shoulders-a{
    position:absolute;
    top: 485px;
    right: 570px;
}
#back-shoulders-b{
    position:absolute;
    top: 485px;
    right: 290px;
}
#triceps-a{
    position:absolute;
    top: 565px;
    right: 640px;
}
#triceps-b{
    position:absolute;
    top: 565px;
    right: 235px;
}
#back-lats-a{
    position:absolute;
    top: 507px;
    right: 514px;
}
#back-lats-b{
    position:absolute;
    top: 507px;
    right: 343px;
}
#back-lower{
    position:absolute;
    top: 645px;
    right: 432px;
}
#back-forearms-a{
    position:absolute;
    top: 680px;
    right: 702px;
}
#back-forearms-b{
    position:absolute;
    top: 680px;
    right: 143px;
}
#back-glutes{
    position:absolute;
    top: 823px;
    right: 385px;
}
#back-hamstrings-a{
    position:absolute;
    top: 840px;
    right: 512px;
}
#back-hamstrings-b{
    position:absolute;
    top: 840px;
    right: 345px;
}
#back-calves-a{
    position:absolute;
    top:1272px;
    right:563px;
}
#back-calves-b{
    position:absolute;
    top:1272px;
    right:330px;
}
