.main-first-row{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}


.main-first-row div{
   padding: 20px;
}

.main-second-row{

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.main-third-row{
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.big-three{
    padding: 20px;
}

.big-three a{
    margin-left: 30px;
}

.big-three span{
    font-weight: 600;
    font-size: 20px;
}

    

.colors{
    display: flex;
}
.colors div{
    margin-left: 15px;
    margin-top: 15px;
}
.change-thema span{
    font-weight: 600;
    font-size: 20px;
}

.white-thema{
    width: 38px;
    height: 38px;
    background-color: whitesmoke;
    border-radius: 50%;
    color:black;
}

.gray-thema{
    width: 38px;
    height: 38px;
    background-color:gray;
    border-radius: 50%;
    position: relative;

}

.red-thema{
    width: 38px;
    height: 38px;
    background-color:red;
    border-radius: 50%;
    position: relative;

}
.red-thema i,
.green-thema i,
.purple-thema i,
.yellow-thema i,
.blue-thema i{
    position: absolute;
    left:10px;
    top:16px;
}
.green-thema{
    width: 38px;
    height: 38px;
    background-color:green;
    border-radius: 50%;
    position: relative;

}
.purple-thema{
    width: 38px;
    height: 38px;
    background-color:purple;
    border-radius: 50%;
    position: relative;

}
.yellow-thema{
    width: 38px;
    height: 38px;
    background-color:yellow;
    border-radius: 50%;
    position: relative;

}
.blue-thema{
    width: 38px;
    height: 38px;
    background-color:blue;
    border-radius: 50%;
    position: relative;

}

.main-fourth-row{
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.graph-show{
    padding: 20px;
    font-weight: 600;
    font-size: 20px;
}