
  .size{
    width: 280px;
    height: 890px;

    position: fixed;
    background-color: yellowgreen;

  }




.xxx{
  position: relative;
  left:140px;

}

.routine_name{
  font-size: 50px;
  font-weight: 600;
}

.zz{
  z-index: 9999;
}
