
  .size{
    width: 280px;
    height: 890px;

    position: fixed;
    background-color: yellowgreen;

  }




#chest_routine,
#lats_routine,
#glutes_routine,
#traps-middle_routine,
#lowerback_routine,
#hamstrings_routine,
#quads_routine,
#abdominals_routine,
#obliques_routine,
#triceps_routine,
#traps_routine,
#shoulders_routine,
#biceps_routine,
#forearms_routine,
#calves_routine{
  position: relative;
  left:150px;

}

#chest_routine div,
#lats_routine div,
#glutes_routine div,
#traps-middle_routine div,
#lowerback_routine div,
#hamstrings_routine div,
#quads_routine div,
#abdominals_routine div,
#obliques_routine div,
#triceps_routine div,
#traps_routine div,
#shoulders_routine div,
#biceps_routine div,
#forearms_routine div,
#calves_routine div{
  padding: 10px;

}