body{
    background-color: #f5f6f7;
}

a{
    color: black;
    text-decoration: none;
    font-size: 35px;

}
.main-signup{
    text-align: center;
    margin: auto;
}
.logo{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}


 .signup-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .signup-wrap input{
    width: 300px;
    height:40px;
    border: 1px solid rgba(0,0,0,0.4);
 }

.signup-btn-wrap{
    height: 52px;
    width: 310px;
    line-height: 55px;
    margin-top: 35px;
    border: solid 1px rgba(0,0,0,.1);
    background-color: #03c75a;
    color: #fff;
    cursor: pointer;
}
#signup-btn{
    background-color: #03c75a;
    border: none;
    color:#fff;
    font-size:20px;
    outline:none;
    cursor: pointer;
}

#signup-sex{
    width: 310px;
    height: 32px;
    border: 1px solid rgba(0,0,0,0.4);
}

.form-signup-signin{
    margin-top: 17px;
    text-decoration: none;

}
.form-signup-signin a{
    font-size: 18px;
    position: relative;
    left: 120px;
    color: rgba(0, 0, 0, 0.5);

}