
.main-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
.main-title h1{
    color: white;
 
}

.standard{
    margin-top: 300px;
    display: flex;
    justify-content: space-around;  
    align-items: baseline;
}
.standard button{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size:25px;
}

.bg{
    background-image: url("https://mblogthumb-phinf.pstatic.net/MjAxNzAxMThfMjg3/MDAxNDg0NzI5ODkyNzI0.OwGV4Z6YYsgVoKX8VghvebV_VR7JZ9hvKY_sWoQEUgYg.zQlctqUR5bM0nFAZ0zVF5u56buSejZH3-08VJ2zDdvMg.JPEG.tdepidostv/%ED%97%AC%EC%8A%A4%EC%9A%B4%EB%8F%99%EC%88%9C%EC%84%9C%2C_%EB%B2%8C%ED%81%AC%EC%97%85_%281%29.jpg?type=w800");
    background-repeat: no-repeat;
    background-size: cover;
}
