
.main-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
.main-title h1{
    color: black;
 
}

.standard{
    margin-top: 300px;
    display: flex;
    justify-content: space-around;  
    align-items: baseline;
}
.standard button{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size:25px;
}

.bg{
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}

.start-img {
    position:absolute;
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    opacity:90%;
    }