@import "start.css";
@import "master-main.css";
@import "signin.css";
@import "signup.css";
@import "community.css";
@import "screen-header.css";
@import "first-row.css";






body{
    height: 100vh;

}